{% load static %}

 <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete{{obj}}">
    <img width="20px" height="20px" src="{% static 'img/exit.png' %}">
 </button>

 <div class="modal" id="delete{{obj}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content card">
             <div class="modal-header">
                 <h5 class="modal-title">
                     Excluir {{ obj_titulo }}
                 </h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true"></span>
                 </button>
             </div>
             <div class="modal-body">
                 <p>Deseja realmente excluir ?</p>
             </div>
             <div class="modal-footer">
                 <form action="{% url href_delete obj %}" method="POST">
                     {% csrf_token %}
                     <input type="submit" class="btn btn-primary" value="Delete">
                 </form>
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
             </div>
         </div>
     </div>
 </div>